<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/menu.js"></script>

</head>

<body>

  <%- include('partials/_header') %>

  <main class='container'>

  <h1>Menu Items</h1>

    <section id="menu-items-container">
      <% for (let item of menuItems) { %>
      <form action="/menu/<%= item.id %>" method="POST" id="addToCart">
          <img src="<%= item.thumbnail_photo_url %>" style="height: 400px; width: 300px;"/>
          <h2><%= item.name %></h2>
          <h2><%= item.description %></h2>
          <h2> CAD <%= item.price %></h2>

          <button type='submit'  class="btn btn-outline-dark" style="margin: 1em;">Add To Cart</button>

      </form>

      <% } %>

    </section>

  </main>
</body>

</html>
